      <main class="view portfolio-view">
        <section class="section">
          <div class="container">
            <h2 class="page-title">Portfolio</h2>
          </div>
        </section>
        <div class="content">
          <section class="section">
            <div class="container">
              <p>Check out some of the various projects I've worked on.
              Click to visit.</p>
            </div>
          </section>
          <section class="section portfolio-section">
            <div class="container">
    					<div class="portfolio-project">
                <img class="portfolio-project-image overlay" src="/images/javascript-game.png" />
                <div class="portfolio-project-description-container overlay">
                  <div>
                    <h3 class="portfolio-project-title">8Bit-venture</h3>
                    <ul class="portfolio-project-tech-list">
                      <li class="portfolio-project-tech-list-item">HTML</li
                      ><li class="portfolio-project-tech-list-item">CSS</li
                      ><li class="portfolio-project-tech-list-item">Javascript</li>
                    </ul>
                    <p class="portfolio-project-date">since 2/16/2020</p>
                    <p class="portfolio-project-description">This is a project I'm working to learn Javascript and game dev. This is inspired by Frank Poth's <a href="https://pothonprogramming.github.io/content/rabbit-trap/rabbit-trap.html" target="_blank">Rabbit Trap</a> (code <a href="https://github.com/pothonprogramming/pothonprogramming.github.io/tree/master/content/rabbit-trap" target="_blank">here</a>).</p>
                    <a class="bttn bttn-negative cta-bttn portfolio-project-call-to-action" href="/javascript-game" target="_blank">
                      Open<i class="cta-bttn-icon fa fa-arrow-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section portfolio-section">
            <div class="container">
    					<div class="portfolio-project">
                <img class="portfolio-project-image overlay" src="/images/CSCI-U150-Website.png" />
                <div class="portfolio-project-description-container overlay">
                  <div>
                    <h3 class="portfolio-project-title">CSCI-U150 Website</h3>
                    <ul class="portfolio-project-tech-list">
                      <li class="portfolio-project-tech-list-item">HTML</li>
                    </ul>
                    <p class="portfolio-project-date"><em>circa</em> 11/2013</p>
                    <p class="portfolio-project-description">This is the first website I ever coded. This was done in University of South Carolina Upstate CSCI-U150 "Introduction To Computer Science".</p>
                    <a class="bttn bttn-negative cta-bttn portfolio-project-call-to-action" href="/CSCI-U150-Website" target="_blank">
                      Open<i class="cta-bttn-icon fa fa-arrow-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
