      <main class="view portfolio-view">
        <section class="section">
          <div class="container">
            <h2 class="page-title">Portfolio</h2>
          </div>
        </section>
        <div class="content">
          <section class="section">
            <div class="container">
              <p>Check out some of the various projects I've worked on.
              Click to visit.</p>
            </div>
          </section>
          <hr class="horizontal-rule portfolio-horizontal-rule" />
          <div class="container">
            <p class="portfolio-horizontal-rule-text">since 2/16/2020</p>
          </div>
          <section class="section portfolio-section">
            <div class="container">
    					<div class="portfolio-container">
                <img class="portfolio-image" src="/images/javascript-game.png" />
                <div class="portfolio-shade-container"></div>
                <div class="portfolio-inner-container portfolio-fade-on-hover">
                  <h3 class="portfolio-title">8Bit-venture</h3>
                  <h5 class="portfolio-type">HTML#CSS#Javascript</h5>
                  <p class="portfolio-description">This is a project I'm working to learn Javascript and game dev. This is inspired by Frank Poth's <a href="https://pothonprogramming.github.io/content/rabbit-trap/rabbit-trap.html" target="_blank">Rabbit Trap</a> (code <a href="https://github.com/pothonprogramming/pothonprogramming.github.io/tree/master/content/rabbit-trap" target="_blank">here</a>).</p>
                </div>
                <a class="call-to-action portfolio-call-to-action portfolio-fade-on-hover" href="/javascript-game" target="_blank">
                  Open<i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
          </section>
          <hr class="horizontal-rule portfolio-horizontal-rule" />
          <div class="container">
            <p class="portfolio-horizontal-rule-text"><em>circa</em> 11/2013</p>
          </div>
          <section class="section portfolio-section">
            <div class="container">
    					<div class="portfolio-container">
                <img class="portfolio-image" src="/images/CSCI-U150-Website.png" />
                <div class="portfolio-shade-container"></div>
                <div class="portfolio-inner-container portfolio-fade-on-hover">
                  <h3 class="portfolio-title">CSCI-U150 Website</h3>
                  <h5 class="portfolio-type">HTML</h5>
                  <p class="portfolio-description">This is the first website I ever coded. This was done in University of South Carolina Upstate CSCI-U150 "Introduction To Computer Science".</p>
                </div>
                <a class="call-to-action portfolio-call-to-action portfolio-fade-on-hover" href="/CSCI-U150-Website" target="_blank">
                  Open<i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
          </section>
        </div>
      </main>
