.footer-container {
	color: var(--dark-foreground-color);
	background-color: var(--dark-background-color);
	padding: 0.5em 2em;
}

.footer-section {
	width: 100%;
}

.footer-copyright {
	width: 25%;
  font-size: 0.8em;
	padding-top: 2em;
}

.footer-social-media {
	width: 50%;
	text-align: center;
  padding-top: 1.5em;
}

.footer-social-media a {
	transition: color 0.25s;
}

.footer-social-media .fab {
  color: lightgray;
  font-size: 1.5em;
  text-align: center;
  margin: 0.2em;
}

/*.footer-social-media .fa-facebook-square {
  color: #3B5998;
}

.footer-social-media .fa-linkedin {
  color: #007bb5;
}

.footer-social-media .fa-youtube {
  color: #bb0000;
}*/

.footer-nav {
  width: 25%;
	padding: 0 0.5em;
}

.footer-nav a {
	transition: color 0.25s;
	display: block;
  color: var(--footer-color-primary);
}

.footer-nav a:hover, .footer-social-media a:hover{
	color: gray;
}

@media screen and (max-width: 600px) {
	.footer-copyright {
		width: 50%;
	}

	.footer-social-media {
		width: 50%;
		text-align: right;
		padding-top: 1em;
	}

	.footer-nav {
		padding: 1em 0;
	}

	.footer-nav a {
		padding: 0.1em 0;
	}
}
