.footer-container {
	color: var(--footer-color-primary);
	background-color: var(--footer-color-secondary);
	padding: 0.5em 2em;
}

.footer-section {
	display: inline-block;
}

.footer-left {
  width: 25%;
}

.footer-right {
  width: 25%;
}

.footer-center {
  width: 50%;
  text-align: center;
}

.footer-copyright {
  padding-top: 1em;
}

.footer-social-media {
  padding-top: 1.5em;
}

.footer-social-media .fab {
  color: var(--footer-color-primary);
  background-color: white;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  margin: 0.2em;
}

.footer-social-media .fa-facebook-square {
  color: #3B5998;
}

.footer-social-media .fa-linkedin {
  color: #007bb5;
}

.footer-social-media .fa-youtube {
  color: #bb0000;
}

.footer-nav {
	padding: 0 0.5em;
}

.footer-nav a {
	display: block;
  color: var(--footer-color-primary);
	text-decoration: none;
}

.footer-nav a:hover {
	transition: color 0.25s;
	color: gray;
}


.footer-social-media a:hover {
	transition: background-color 0.25s;
	background-color: lightgray;
}
