.header-container {
  background-color: var(--header-color-primary);
}

.header-container a {
  text-decoration: none;
  color: var(--header-color-secondary);
}

.header-logo {
  display: inline-block;
  float: left;
  text-align: center;
}

.header-logo h1 {
  font-family: serif;
}

.header-nav {
  text-align: right;
}

/*Make sure only list-items directly unver #navigation-list are inline-block,
    as there are other list-items (vertical submenus)*/
.header-nav-item {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	padding: 8px;
  line-height: 2em;
  transition-duration: 0.4s;
}

.header-nav-item.nav-bars {
  display: none;
}

.header-nav-item:not(.nav-bars):hover {
	color: var(--header-color-primary);
  background-color: var(--header-color-secondary);
}

.header-nav-item.current {
	color: var(--header-color-primary);
  background-color: var(--header-color-secondary);
}

.header-nav-item.current:hover {
	color: var(--header-color-secondary);
  background-color: var(--header-color-primary);
}

@media screen and (max-width: 600px) {
  .header-nav {
  	text-align: left;
  }

  .header-nav-container {
    transition: transform 0.2s;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    transform: translateX(-100%);
  }

  .header-logo {
    float: none;
  }

  .header-nav-item:not(.nav-bars) {
    display: block;
  }

  .header-nav-item.nav-bars {
    display: inline-block;
  }

  .header-nav.responsive .header-nav-item.nav-bars {
    color: gray;
  }

  .header-nav.responsive .header-nav-container {
    transform: translateX(0);
  }
}
