/*CONVERSION*/
/*1px = 3/4pt = 1/16em = 0.12671875vw*/

/*-----------
//  UNIVERSAL
------------------------------*/

:root {
  --accent-color:            #8b0000; /*rgb(139,0,0) "darkred" //##3774ce*/
  --accent-color-2:          #808080; /*rgb(128,128,128) "gray"*/
  --light-foreground-color:  #323232; /*rgb(50,50,50)*/
  --light-background-color:  #f5f5f5; /*rgb(255,255,255) "white"*/
  --light-background-color-translucent:  rgba(245,245,245,0.8); /*rgb(255,255,255) "white"*/
  --dark-foreground-color:   #d3d3d3; /*rgb(211,211,211) "lightgray"*/
  --dark-background-color:   #323232; /*rgb(50,50,50)*/
}

body {
  background-color: var(--light-background-color);
  overflow-x: hidden;
}

body, body * {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

/*-----------
//  UNIVERSAL CLASSES
------------------------------*/

.full {
  width: 100%;
}

.full-height {
  height: 100%;
}

.float-container {
  overflow-y: hidden; /*forces parent containers to take height of FLOATING children ;D*/
}

.float-child {
  float: left;
}

.fade-in-on-scroll-listener {
  opacity: 0;
  transition: 1s 0.2s;
  transform: translateY(20px);
}

.fade-in-on-scroll {
  transform: none;
  opacity: 1;
}

.strikethrough {
  text-decoration: line-through;
}

/*-----------
//  WEBSITE CLASSES
------------------------------*/

.page-title {
  padding-top: 1em;
  padding-left: 0.5em;
}

.content {
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.content p, .content ul {
  color: var(--dark-background-color);
}

.section {
  margin: 0.5em 0;
}

hr {
  width: 80%;
  margin: 1em auto;
  border: 1px solid gray;
}

.call-to-action-container {
  text-align: right;
}

.call-to-action {
  display: inline-block;
  min-width: 5em;
  color: white;
  background-color: var(--accent-color);
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.5em;
  margin-top: 1.5em;
}

.call-to-action i {
  color: white;
  background-color: var(--accent-color);
  padding-left: 1em;
}


/*-----------
//  HOME/INDEX
------------------------------*/

.home-section {
  background-color: white;
  border: 1px solid var(--dark-foreground-color);
  border-radius: 0.5em;
  padding: 1em;
}

.summary {
  color: var(--accent-color-2);
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
}

.summary-line {
  font-size: 1em;
}

.summary-subline {
  font-size: 0.8em;
}

.home-section-header {
  color: var(--accent-color);
  text-align: right;
  margin: 0.5em 0;
}

.home-section-icon-container {
  text-align: center;
  paddmargining: 0.5em 0;
}

.home-section-icon {
  margin: 0 8px;
}

.home-section-icon-i {
  font-size: 4em;
}

.home-section-icon-image {
  width: 4em;
  height: 4em;
}

.home-section-icon-i.fab.fa-html5 {
  color: #e34f26; /*#fb7a5a*/
  background-color: white;
}

.home-section-icon-i.fab.fa-css3-alt {
  color: #309ed9; /*#63bced*/
  background-color: white;
}

.home-section-icon-i.fab.fa-js {
  color: #f8dc3d;
  background-color: #2e2e2c;
}

.home-section-icon-i.fab.fa-aws {
  color: white;
  background-color: #232f3e;
}

.home-section-icon-i.fab.fa-git-alt {
  color: #f05133;
  background-color: white;
}

.home-section-icon-i.fab.fa-github {
  color: black;
  background-color: white;
}


/*-----------
//  ABOUT
------------------------------*/

.max-width-container-500 {
  /**/
  max-width: 500px;
  margin: 0 auto;
}

.facebook-profile-pic-container {
  position: relative;
  overflow: hidden;
  height: 561px;
  padding-top: calc(120% - 600px);
}

.facebook-profile-pic {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.about-section-name-container {
  margin: 0.5em 0;
}

.about-section-name {
  color: var(--accent-color);
  font-size: 1.5em;
}

.about-section-title {
  color: var(--accent-color);
  padding-left: 0.5em;
  font-size: 0.9em;
  font-style: italic;
}

/*-----------
//  MUSIC
------------------------------*/

.music-section {
  word-wrap: break-word;
}

.music-video-wrapper {
	/*Create a wrapper to determine the width for aspect ratio.*/
	width: 60%;
}

.music-video-container {
	/*Maintain a 16:9 aspect ratio, before 640x360
      by using padding, which references width, not height.
      This will, however, take up the entire "content" with
      padding, rendering the container unusable.*/
	position: relative;
	width: 100%;          /*setting width*/
	padding-top: 56.25%;  /*"setting height"*/
}

.music-video-container iframe {
	/*Now that parent container is sided with the aspect ratio,
      set the position of the child container to absolute,
      stretch it to the entire size of the parent container,
      and remove all padding. This "resets" the container.*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.music-video-wrapper-left {
	float: left;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.music-video-wrapper-right {
	float: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

/*.music-hr {
  width: 80%;
  margin: 1em auto;
  border: 1px solid gray;
}*/

.music-title {
  font-style: italic;
}

.music-description {
  padding-top: 0.5em;
}


/*-----------
//  PORTFOLIO
------------------------------*/

.portfolio-section {
  word-wrap: break-word;
}

.portfolio-container {
  position: relative;
}

.portfolio-fade-on-hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s 0.1s;
}

.portfolio-shade-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s 0.1s;
}

.portfolio-inner-container {
  top: 0;
  text-align: center;
  padding-top: 15%;
  width: 100%;
}

.portfolio-inner-container > * {
  color: white !important;
}

.portfolio-container:hover .portfolio-shade-container {
  opacity: 0.5;
}

.portfolio-container:hover .portfolio-fade-on-hover {
  opacity: 1;
}

.portfolio-image {
  width: 100%;
}

.portfolio-title {
  font-size: 1.25em;
}

.portfolio-type {
  font-size: 0.8em;
}

.portfolio-description {
  padding-top: 0.5em;
  font-size: 0.8em;
}

.portfolio-call-to-action {
  bottom: 0.5em;
  right: 0.5em;
}

.portfolio-hr {
  border-top: 2px solid gray;
  margin-top: 3em;
  margin-bottom: 0.5em;
  font-size: 0.7em;
}


/*-----------
//  CONTACT
------------------------------*/

.contact-image {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.contact-email {
  text-align: right;
  padding-right: 1em;
}

.contact-email a {
  font-weight: bold;
}

.contact-email i {
  color: rgb(0,111,192);
}

.contact-form {
  margin-top: 1em;
}

.contact-form-component {
  width: 100%;
  padding: 0.5em 1em;
  color: gray;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.25em;

}

.contact-form-label {
  font-weight: bold;
  color: gray;
}

.contact-form-input {
  font-size: 1em;
}

.contact-form-textarea {
  resize: none;
  height: 9em;
}

.contact-form-button {
  width: 9em;
  height: 2.5em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: var(--accent-color);
  padding: 0.25em 1em;
  border: none;
  border-radius: 0.5em;
}

.contact-form-button:hover {
  background-color: gray;
  transition: background-color 0.25s;
}
