/*CONVERSION*/
/*1px = 3/4pt = 1/16em = 0.12671875vw*/

/*-----------
//  UNIVERSAL
------------------------------*/

:root {
  --test: black;
  --facebook: #3B5998;
  --linkedin: #007bb5;
  --youtube: #bb0000;
  --header-color-primary: black;
  --header-color-secondary: white;
  --footer-color-primary: white;
  --footer-color-secondary: rgb(50,50,50);
}

body, body * {
  margin: 0;
  box-sizing: border-box;
}

/*-----------
//  UNIVERSAL CLASSES
------------------------------*/

.full {
  width: 100%;
}

.full-height {
  height: 100%;
}

/*-----------
//  WEBSITE CLASSES
------------------------------*/

.page-title {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  padding-left: 0.5em;
}

.content {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.module {
  padding: 0.5em 0;
}


/*-----------
//  HOME/INDEX
------------------------------*/

.summary {
  color: gray;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
}

.summary-line {
  font-size: 1em;
}

.summary-subline {
  font-size: 0.8em;
}


/*-----------
//  ABOUT
------------------------------*/

.max-width-container-500 {
  /**/
  max-width: 500px;
  margin: 0 auto;
}

.facebook-profile-pic-container {
  position: relative;
  overflow: hidden;
  height: 600px;
  padding-top: calc(120% - 600px);
}

.facebook-profile-pic {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
