<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]>      <html class="no-js" lang="en"> <![endif]-->
<html class="no-js" lang="en">
  <head>
    <%- include("../partials/head.ejs", {
      meta: {
        title: "Bradley Biera | Contact",
        cssSheetNames: [
          "contact.css",
        ]
      },
    }) %>
  </head>
  <body>
    <%- include("../partials/header.ejs", {
      currentPage: "contact",
    }) %>
    <main class="main">
      <h2 class="page-title">Contact</h2>
      <div class="content">
        <section class="section contact-section">
          <img class="contact-image" src="/assets/466410_4783174939615_1618313192_o.jpg"/>
        </section>
        <section class="section contact-section">
          <form class="contact-form" action="https://formspree.io/xgenedkv" method="POST">
            <label class="contact-form-label" for="contact-form-name">Name</label>
            <input id="contact-form-name" name="name" class="contact-form-component contact-form-input" type="text" tabindex="1"></input>
            <label class="contact-form-label" for="contact-form-replyTo">Email</label>
            <input id="contact-form-replyTo" name="_replyto" class="contact-form-component contact-form-input" type="email" tabindex="2"></input>
            <label class="contact-form-label" for="contact-form-body">Body</label>
            <textarea id="contact-form-body" name="body" class="contact-form-component contact-form-textarea" tabindex="4"></textarea>
            <input type="submit" class="contact-form-button" value="Send" onclick="contactForm.sendEmail();"></input>
            <!-- <input type="hidden" name="_subject" value="bbworks.github.io"></input> -->
            <!-- <input type="hidden" name="_next" value="/thankYou.html"></input> -->
            <input type="text" name="_gotcha" style="display:none" />
          </form>
        </section>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
    <%- include("../partials/script.ejs", {
      scripts: [
        "contactForm.js"
      ]
    }) %>
  </body>
</html>
