<!-- views/partials/footer.ejs -->

    <footer class="footer-container">
      <div class="footer-section footer-copyright">
        &copy;2020 Bradley Biera
      </div
      ><div class="footer-section footer-social-media">
        <a class="fab fa-facebook-square" href="https://www.facebook.com/bradley.biera" target="_blank" title="Bradley Biera | Facebook"></a>
        <a class="fab fa-linkedin" href="http://www.linkedin.com/in/bradley-biera-059674135/" target="_blank" title="Bradley Biera | LinkedIn"></a>
        <a class="fab fa-youtube" href="https://www.youtube.com/user/BradleyBieraMusic" target="_blank" title="BradleyBieraMusic | YouTube"></a>
        <a class="fab fa-github" href="https://github.com/bbworks" target="_blank" title="Bradley Biera | Github"></a>
      </div
      ><nav class="footer-section footer-nav">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/music/">Music</a>
        <a href="/portfolio/">Portfolio</a>
        <a href="/contact/">Contact</a>
      </nav>
    </footer>
