<!-- views/partials/header.ejs -->

    <header class="header-container">
      <nav class="header-nav">
        <a class="header-logo" href="/"><h1>Bradley Biera</h1></a>
        <div class="header-nav-container">
          <a class="header-nav-item<% if(currentPage === "home") { %> current<% } %>" href="/">Home</a
          ><a class="header-nav-item<% if(currentPage === "about") { %> current<% } %>" href="/about/">About</a
          ><a class="header-nav-item<% if(currentPage === "music") { %> current<% } %>" href="/music/">Music</a
          ><a class="header-nav-item<% if(currentPage === "portfolio") { %> current<% } %>" href="/portfolio/">Portfolio</a
          ><a class="header-nav-item<% if(currentPage === "contact") { %> current<% } %>" href="/contact/">Contact</a>
        </div
        ><a class="header-nav-item mobile-nav-toggle fa fa-bars" href="javascript:void(0);" onclick="toggleMobileNav(&quot;header-nav&quot;,&quot;header-nav-container&quot;,&quot;mobile-nav-toggle&quot;)"></a>
      </nav>
    </header>
