<!-- views/partials/head.ejs -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="The personal site for Bradley Biera.">
    <title><%- meta.title %></title>

    <!-- Font Awesome -->
    <!-- <script src="https://kit.fontawesome.com/4849833081.js" crossorigin="anonymous"></script> -->
    <link type="text/css" rel="stylesheet" href="/lib/fontawesome-free-5.14.0-web/css/all.min.css">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Google ReCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Site-wide stylesheets -->
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="image/ico" rel="icon" href="/assets/favicon.ico">

    <!-- Page-specific stylesheets -->
    <% meta.cssSheetNames.forEach(stylesheet=>{ %>
      <link type="text/css" rel="stylesheet" href="/css/<%- stylesheet %>">
    <% }); %>
