<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]>      <html class="no-js" lang="en"> <![endif]-->
<html class="no-js" lang="en">
  <head>
    <%- include("partials/head.ejs", {
      meta: {
        title: "Bradley Biera | Home",
        cssSheetNames: [
          "index.css",
          "slideshow.css",
          "cards.css",
        ]
      },
    }) %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main class="main">
      <!-- This will be filled in dynamically by slideshow.js -->
      <section class="slideshow-container"></section>
      <div class="content">
        <section class="section">
          <h3 class="summary summary-line">Music Engineering // Web Dev // MS SQL</h3>
          <h3 class="summary summary-subline">Husband~Father~Disciple✞</h3>
        </section>
        <section class="section home-section card-group">
          <div class="card fade-in-on-scroll-listener">
            <div class="home-section-icon-container card-image">
              <img class="home-section-icon home-section-icon-image" src="/assets/microsoft-sql-server-database-administrator-computer-icons-table-free-high-quality-sql-server-icon.jpg" /
              ><img class="home-section-icon home-section-icon-image" src="/assets/PowerShell_5.0_icon.png" /
              ><img class="home-section-icon home-section-icon-image" src="/assets/aws_logo_smile_modified.png" />
            </div>
            <div class="card-body">
              <h3 class="card-title">Database Administration</h3>
              <div class="card-text">
                <p>With almost 3 years experience as a Database Administrator,
                  I have worked extensively with Microsoft SQL Server, Windows Powershell, and Amazon Web Services.</p>
                <br />
                <p>My experience includes:</p>
                <ul>
                  <li>Routine health checks, maintenance, and performance monitoring of databases and database servers</li>
                  <li>Regular database-related tasks such as database restores, environment refreshes, version migrations, SQL Server upgrades, conferenced troubleshooting</li>
                  <li>Cloud operations in a virtualized environment (AWS)</li>
                  <li>Heavy contribution towards automation and source code (T-SQL, Powershell)</li>
                </ul>
              </div>
              <a class="call-to-action" href="http://www.linkedin.com/in/bradley-biera-059674135/" target="_blank" title="Bradley Biera | LinkedIn">
                  Check out my LinkedIn<i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="card fade-in-on-scroll-listener">
            <div class="home-section-icon-container card-image">
              <i class="home-section-icon home-section-icon-i fab fa-html5"></i
              ><i class="home-section-icon home-section-icon-i fab fa-css3-alt"></i
              ><i class="home-section-icon home-section-icon-i fab fa-js"></i>
            </div>
            <div class="card-body">
              <h3 class="card-title">Web Development</h3>
              <div class="card-text">
                <p>First introduced to web development in undergrad,
                the frustration <span class="strikethrough">of centering a div</span> overshadowed the passion for unlimited design and functional creativity.
                Now, with a fuller understanding of web design,
                a new language under wraps (Javascript), and
                <span class="strikethrough">Googling how to center a div,</span>
                that very spark was rediscovered in a new light.</p>
              </div>
              <a class="call-to-action" href="/portfolio/" title="Bradley Biera | Portfolio">
                  Check out my portfolio<i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="card fade-in-on-scroll-listener">
            <div class="home-section-icon-container card-image">
              <i class="home-section-icon home-section-icon-i fab fa-git-alt"></i
              ><i class="home-section-icon home-section-icon-i fab fa-github"></i>
            </div>
            <div class="card-body">
              <h3 class="card-title">Version Control</h3>
              <div class="card-text">
                <p>With experience from both personal and business projects,
                  I am highly proficent in Git-based version control,
                  and highly confident in my ability to create and maintain
                  source code on a local and remote repository.</p>
              </div>
              <a class="call-to-action" href="https://github.com/bbworks" target="_blank" title="Bradley Biera | Github">
                  Check out my repos<i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <%- include("partials/script.ejs", {
      scripts: [
        "slideshow.js",
        "fade.js",
      ]
    }) %>
  </body>
</html>
