.contact-view {
  .contact-image {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .contact-email {
    text-align: right;
    padding-right: 1rem;
  }

  .contact-email a {
    font-weight: bold;
  }

  .contact-email i {
    color: rgb(0,111,192);
  }  
}
