    <section class="showcase home-view-section section slant-bottom">
      <div class="container container-row">
        <div class="showcase-section showcase-text">
          <h2 class="showcase-title">Hi,</h2>
          <h3 class="showcase-subtitle">I'm Bradley.</h3>
          <p class="showcase-text">I develop websites.</p>
          <a class="bttn showcase-button" href="#">Learn More</a>
        </div>
        <div class="showcase-section showcase-image-container">
          <img class="showcase-image" src="/images/transparent_transparent_square.png">
        </div>
      </div>
    </section>
