.showcase {
	//Override home section padding
	&.home-view-section {
		padding-top: 3rem;
		padding-bottom: 1rem;
	}

	& .container-row > * {
		flex: 1 0 0;
		text-align: center;
	}

	color: white;
	background-color: $showcase-color;

	.showcase-title {
		color: inherit;
		font-size: 4rem;
	}

	.showcase-subtitle {
		color: inherit;
		font-size: 1.5rem;
	}

	.showcase-paragraph {
		margin: 0 auto;
		margin-top: 1rem;
	}

	.showcase-button {
	  margin-top: 3rem;
	}

	.showcase-image {
		display: block;
		width: 100%;
	  max-width: 600px;
	}

	@include media-width("mobile") {
		//Override home section padding
		&.home-view-section {
			padding-bottom: 0.75rem;
		}

		.showcase-text {
			text-align: center;
		}

	  .showcase-image-container {
	    height: 15rem;
	  }

		.showcase-image {
			margin-top: 2rem;
		}
	}
}
