.about-view {
  .feature-image-container {
    position: relative;
    overflow: hidden;
    height: 561px;
    padding-top: calc(120% - 600px);
  }

  .feature-image-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .about {
    .about-header {
      margin: 0.5rem 0;

      .about-name {
        color: var(--primary-color);
        font-size: 1.5rem;
      }

      .about-title {
        color: var(--primary-color);
        padding-left: 0.5rem;
        font-size: 0.9rem;
        font-style: italic;
      }
    }

    .about-body {
      .about-paragraph {
        margin-bottom: 1rem;
      }
    }
  }
}
