      <main class="view about-view">
        <section class="section">
          <div class="container">
            <h2 class="page-title">About</h2>
          </div>
        </section>
        <div class="content">
          <section class="section">
            <div class="container">
              <div class="container-row">
                <div class="container-row-column">
                  <div class="feature-image-container">
                    <img class="feature-image" src="/images/5_20190726_225717000_iOS.jpg" alt="Bradley Biera"/>
                  </div>
                </div>
                <div class="container-row-column">
                  <div class="about">
                    <h3 class="about-name">Bradley Biera</h3>
                    <h4 class="about-title">Author/Developer of site</h4>
                    <p class="about-paragraph">
                      Currently a database administrator, I am also pursuing a passion for web development.
                      Following graduating from Univeristy of South Carolina Upstate in 2016,
                      I have spent the last three years diving head-first into the field of Computer Science,
                      learning multiple technologies and developing skills in multiple fields.
                    </p>
                    <p class="about-paragraph">
                      As a Cloud Database Administrator, I have worked extensively with Microsoft SQL Server,
                      learning many (and one day, all) facets of relational database management,
                      from the high-level system implementation designs down to the internals of SQL Server and how it works.
                    </p>
                    <p class="about-paragraph">
                      I am located in Upstate South Carolina, United States.
                      I am a husband, a father of 2 beautiful children,
                      and a lover-follower-disciple of Jesus Christ.
                      My hobbies include playing video games and writing/recording/producing music.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
