.home-view {
  .home-view-section {
    padding: 3rem 4rem;
    padding-top: 2rem; // remove some top padding for .slant-top
    padding-bottom: 4rem; // remove some bottom padding for .slant-top

    .home-view-section-icon {
      margin: 0 0.25rem;

      &.home-view-section-icon-image {
        width: 4rem;
        height: 4rem;
      }

      &.home-view-section-icon-i {
        font-size: 4rem;

        &.html5-icon {
          color: #e34f26; /*#fb7a5a*/
        }

        &.css3-icon {
          color: #309ed9; /*#63bced*/
        }

        &.js-icon {
          color: #f8dc3d;
          background-color: #2e2e2c;
        }

        &.git-icon {
          color: #f05133;
        }

        &.github-icon {
          color: black;
        }
      }
    }

    .home-view-column-image {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 8rem;
      flex: 0 0 30%;
    }

    .home-view-column-text {
      color: rgb(50,50,50);

      .home-view-column-text-heading {
        margin-bottom: 1rem;
      }

      .home-view-column-text-paragraph {

      }
    }
  }

  @include media-width("tablet") {
    .home-view-section {
      padding: 3rem 2rem;
      padding-top: 0; // remove some top padding for .slant-top
      padding-bottom: 6rem; // remove some bottom padding for .slant-top
    }
  }
}
