.home-view {
  .home-view-section {
    padding: 3rem 4rem;
    padding-bottom: 5rem;

    .home-view-section-icon {
      margin: 0 0.25rem;

      &.home-view-section-icon-image {
        width: 4rem;
        height: 4rem;
      }

      &.home-view-section-icon-i {
        font-size: 4rem;

        &.html5-icon {
          color: #e34f26; /*#fb7a5a*/
        }

        &.css3-icon {
          color: #309ed9; /*#63bced*/
        }

        &.js-icon {
          color: #f8dc3d;
          background-color: #2e2e2c;
        }

        &.git-icon {
          color: #f05133;
        }

        &.github-icon {
          color: black;
        }
      }
    }

    .home-view-column-image {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 8rem;
    }

    .home-view-column-text {
      color: rgb(50,50,50);

      .home-view-column-text-heading {
        font-size: 2.25rem;
        margin-bottom: 1rem;
      }

      .home-view-column-text-paragraph {
        font-size: 1rem;
      }
    }
  }

  @include media-width("tablet") {
    .home-view-section {
      padding: 3rem 2rem;
    }
  }
}
