      <main class="view home-view">
        <%- include("../Showcase/Showcase.ejs") %>
        <section class="home-view-section section section-light slant-top">
          <div class="container container-row ">
            <div class="container-row-column home-view-column-image">
              <img class="home-view-section-icon home-view-section-icon-image" src="/images/microsoft-sql-server-database-administrator-computer-icons-table-free-high-quality-sql-server-icon.jpg">
              <img class="home-view-section-icon home-view-section-icon-image" src="/images/PowerShell_5.0_icon.png">
              <img class="home-view-section-icon home-view-section-icon-image" src="/images/aws_logo_smile_modified.png">
            </div>
            <div class="container-row-column home-view-column-text">
              <h2 class="home-view-column-text-heading">Database Administration</h2>
              <p class="home-view-column-text-paragraph">With almost 3 years experience as a Database Administrator, I have worked extensively with Microsoft SQL Server, Windows Powershell, and Amazon Web Services.</p>
              <p>My experience includes:</p>
              <ul>
                <li>Routine health checks, maintenance, and performance monitoring of databases and database servers</li>
                <li>Regular database-related tasks such as database restores, environment refreshes, version migrations, SQL Server upgrades, conferenced troubleshooting</li>
                <li>Cloud operations in a virtualized environment (AWS)</li>
                <li>Heavy contribution towards automation and source code (T-SQL, Powershell)</li>
              </ul>
              <a class="bttn cta-bttn" href="http://www.linkedin.com/in/bradley-biera-059674135/" target="_blank" title="Bradley Biera | LinkedIn">
                Check out my LinkedIn
                <i class="cta-bttn-icon fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </section>
        <section class="section home-view-section section section-dark slant-top">
          <div class="container container-row container-row-reverse">
            <div class="container-row-column home-view-column-image">
              <i class="home-view-section-icon home-view-section-icon-i html5-icon fab fa-html5"></i>
              <i class="home-view-section-icon home-view-section-icon-i css3-icon fab fa-css3-alt"></i>
              <i class="home-view-section-icon home-view-section-icon-i js-icon fab fa-js"></i>
            </div>
            <div class="container-row-column home-view-column-text">
              <h2 class="home-view-column-text-heading">Web Development</h2>
              <p class="home-view-column-text-paragraph">
                First introduced to web development in undergrad,
                  the frustration <span class="strikethrough">of centering a div</span> overshadowed the passion for unlimited design and functional creativity.
                  Now, with a fuller understanding of web design,
                  a new language under wraps (Javascript), and
                  <span class="strikethrough">Googling how to center a div,</span>
                  that very spark was rediscovered in a new light.
              </p>
              <a class="bttn cta-bttn" href="/portfolio/" title="Bradley Biera | Portfolio">
                Check out my portfolio
                <i class="cta-bttn-icon fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </section>
        <section class="section home-view-section section section-light slant-top">
          <div class="container container-row ">
            <div class="container-row-column home-view-column-image">
              <i class="home-view-section-icon home-view-section-icon-i git-icon fab fa-git-alt"></i>
              <i class="home-view-section-icon home-view-section-icon-i github-icon fab fa-github"></i>
            </div>
            <div class="container-row-column home-view-column-text">
              <h2 class="home-view-column-text-heading">Version Control</h2>
              <p class="home-view-column-text-paragraph">With experience from both personal and business projects, I am highly proficent in Git-based version control, and highly confident in my ability to create and maintain source code on a local and remote repository.</p>
              <a class="bttn cta-bttn" href="https://github.com/bbworks" target="_blank" title="Bradley Biera | Github">
                Check out my repos
                <i class="cta-bttn-icon fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </section>
        <%- include("../Slideshow/Slideshow.ejs") %>
        <%- include("../GetInTouch/GetInTouch.ejs") %>
      </main>
