//##_mixins.scss##

//Create styling mixins
@mixin default-focus($important:false) {
  outline: 2px solid $outline-color#{if($important,!important, "")};
  outline-offset: 0#{if($important,!important, "")};
  text-decoration: none#{if($important,!important, "")};
}

//Create functionsl mixins
@mixin focus($selector:null) {
  #{if($selector,$selector,null)}:not([tabindex="-1"]):focus {
    @content;
  }
}

//Create aspect-ratio polyfill
@mixin aspect-ratio($aspectRatio) {
  @if $aspectRatio == null {
    @error "Mixin aspect-ratio requires parameter $aspectRatio.";
  }

  &::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-top: calc(100% / $aspectRatio);
  }
}
