//##_reset.scss##

//Reset all tags
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//Set default link styles
a {
  text-decoration: none;
  color: $primary-color;
}

//Reset link styles
button {
  background: none;
  border: none;
  cursor: pointer;
}

//Reset non-inherited colors (created by browser)
// Some tags (input,select,etc.) have defaults that are NOT "inherit"
input,
select {
  color: inherit;
}

ul {
  list-style-type: none;
}

//Default hover & focus styles
@include focus("a[href]") {
  outline: none;
  text-decoration: underline;
}

area[href],
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
button:not([disabled]),
iframe,
[tabindex],
[contenteditable=true] {
  &:not([tabindex="-1"]) {
    &:focus {
      @include default-focus();
    }
  }
}
