//##_reset.scss##

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  color: var(--dark-text-color);
  background-color: var(--main-background-color);
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
