// Set default styles
html {
  font-size: 100%; // set font size on the root element
}

// Set default body & typography styles
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $main-bg-color;
  min-height: 100vh;
  overflow-x: hidden;

  color: $text-dark-color;
  font-family: $text-font-family-base;
  font-weight: $text-font-weight-base;
  line-height: $text-line-height-base;
}

p {
  max-width: $text-paragraph-max-width;
  margin-bottom: $text-margin-bottom-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font-family-base;
  font-weight: $heading-font-weight-base;
  line-height: $heading-line-height-base;
  margin-bottom: $heading-margin-bottom-base;
}

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
}

h5 {
  font-size: $fs-h5;
}

h6 {
  font-size: $fs-h6;
}
