.header-on-scroll-fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  transform: translateY(-100%);
}

.header-on-scroll-fixed.visible {
  transition: transform 0.5s 0.5s;
  transform: translateY(0);
}
