//Set default body styles
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  color: $dark-text-color;
  background-color: $main-background-color;
  overflow-x: hidden;
}

//Default focus styles
a[href],
area[href],
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
button:not([disabled]),
iframe,
[tabindex],
[contenteditable=true] {
  &:not([tabindex="-1"]) {
    &:focus {

    }
  }
}

@include focus("a[href]") {
  outline: none;
  text-decoration: underline;
}
