/*-----------
//  ABOUT
------------------------------*/

.max-width-container-500 {
  /**/
  max-width: 500px;
  margin: 0 auto;
}

.facebook-profile-pic-container {
  position: relative;
  overflow: hidden;
  height: 561px;
  padding-top: calc(120% - 600px);
}

.facebook-profile-pic {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.about-section-name-container {
  margin: 0.5rem 0;
}

.about-section-name {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.about-section-title {
  color: var(--primary-color);
  padding-left: 0.5rem;
  font-size: 0.9rem;
  font-style: italic;
}
