      <main class="view music-view">
        <section class="section">
          <div class="container">
            <h2 class="page-title">Music</h2>
          </div>
        </section>
        <div class="content">
          <section class="section">
            <div class="container">
              <p>Check out some of my music below, found on <a href="https://youtube.com/user/BradleyBieraMusic" title="BradleyBieraMusic | YouTube.com">YouTube.com</a>.</p>
            </div>
          </section>
          <hr class="horizontal-rule"/>
          <section class="section">
            <div class="container container-row">
    					<div class="music-video-wrapper">
    						<div class="music-video-container">
    							<iframe class="music-video-iframe" src="https://www.youtube.com/embed/sYwowi0i89E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    						</div>
    					</div>
              <div class="music-video-description">
                <h3 class="music-video-title">The Hurt & The Healer</h3>
                <h4 class="music-video-artist">MercyMe</h4>
                <p class="music-video-type">Cover | Bass</p>
                <p class="music-video-summary">Currently my most popular video to date on my music channel, it astounds me that one of my vidoes has garnered this kind of attention. I'm incredibly excited about it, and it inspires me to continue to be more than just a viewer, but to continue in being a content creator, a contributor.</p>
              </div>
            </div>
  				</section>
          <hr class="horizontal-rule"/>
          <section class="section">
            <div class="container container-row container-row-reverse">
              <div class="music-video-wrapper">
                <div class="music-video-container">
                  <iframe class="music-video-iframe" src="https://www.youtube.com/embed/T_ZNv0jZSpM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
              <div class="music-video-description">
                <h3 class="music-video-title">Monster</h3>
                <h4 class="music-video-artist">Paramore</h4>
                <p class="music-video-type">Cover | Guitar <em>(x3)</em></p>
                <p class="music-video-summary">Almost a year after completing my senior project, I returned with two more videos on my music channel, this being the most popular of the two. I had a blast learning how to record audio and video and create these productions, it was a hobby that I certainly planned to continue post-high school. However I began taking a different direction--no longer producing for others, but now creating content for myself and showcasing my own independent abilities.</p>
              </div>
            </div>
  				</section>
          <hr class="horizontal-rule"/>
          <section class="section">
            <div class="container container-row">
    					<div class="music-video-wrapper">
    						<div class="music-video-container">
    							<iframe class="music-video-iframe" src="https://www.youtube.com/embed/HYcY6rIINIk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    						</div>
    					</div>
              <div class="music-video-description">
                <h3 class="music-video-title">Little Things</h3>
                <h4 class="music-video-artist">One Direction</h4>
                <p class="music-video-type">Cover | Acoustic</p>
                <p class="music-video-summary">For my last video for my senior project, I mellowed out once more, introducing a slower, more calm, meaningful, and personal video with another classmate. Bringing to the table a more open and warming acoustic sound, paired with her smooth and clear tone, this last end product easily became the most polished audio and video.</p>
              </div>
            </div>
  				</section>
          <hr class="horizontal-rule"/>
          <section class="section">
            <div class="container container-row container-row-reverse">
              <div class="music-video-wrapper">
                <div class="music-video-container">
                  <iframe class="music-video-iframe" src="https://www.youtube.com/embed/RS_cgFIF54A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
              <div class="music-video-description">
                <h3 class="music-video-title">Take Your Leave</h3>
                <h4 class="music-video-artist">Trey Mattison</h4>
                <p class="music-video-type">Original | Trey Mattison</p>
                <p class="music-video-summary">Moving forward from my first attempt to make a music video, I wanted to try something a little more exciting, live, full of motion and action. Collaborating with my best bud, also a self-producing musician, he assisted in directing a production piece with a higher-energy feel for my second video.</p>
              </div>
            </div>
  				</section>
          <hr class="horizontal-rule"/>
          <section class="section">
            <div class="container container-row">
    					<div class="music-video-wrapper">
    						<div class="music-video-container">
    							<iframe class="music-video-iframe" src="https://www.youtube.com/embed/TImnV8h4AS0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    						</div>
    					</div>
              <div class="music-video-description">
                <h3 class="music-video-title">Jar of Hearts</h3>
                <h4 class="music-video-artist">Christina Perri</h4>
                <p class="music-video-type">Cover | Full</p>
                <p class="music-video-summary">In attending a middle college, all students were required to complete a <em>senior project</em>, for which I adopted a project involving original audio and video content creation. This was the very first music video I produced, with the help of a friend in high school. While it wasn't my first time experimenting with multi-tracking from the audio perspective, it was my first attempt at DSLR video recording and video post-production.</p>
              </div>
            </div>
  				</section>
        </div>
      </main>
