.music-view {
	.music-video-wrapper {
		/*Create a wrapper to determine the width for aspect ratio.*/
		flex: 1 0 60%;
		width: 100%;
		align-self: flex-start; //bring centered flex alignment back to top

		&-right {
			margin-left: 1rem; //force margins based on order (not HTML order)
			margin-right: 0; //force margins based on order (not HTML order)
		}

		.music-video-container {
			/*Maintain a 16:9 aspect ratio, before 640x360
		      by using padding, which references width, not height.
		      This will, however, take up the entire "content" with
		      padding, rendering the container unusable.*/
			position: relative;
			width: 100%;          /*setting width*/
			padding-top: 56.25%;  /*"setting height"*/

			.music-video-iframe {
				/*Now that parent container is sided with the aspect ratio,
			      set the position of the child container to absolute,
			      stretch it to the entire size of the parent container,
			      and remove all padding. This "resets" the container.*/
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	.music-video-description {
		flex: 1 0 30%;
		align-self: flex-start; //bring centered flex alignment back to top

		.music-video-title {
			font-style: italic;
		}

		.music-video-artist {
			font-weight: normal;
		  margin-left: 0.25rem;
		}

		.music-video-type {
			text-align: right;
			padding-top: 0.25rem;
			padding-right: 1rem;
			margin-top: 0.25rem;
			border-top: 1px solid gray;
			font-size: $fs-sm;
			font-weight: bold;
		}

		.music-video-summary {
			padding-left: 2rem;
	    margin-top: 1rem;
	    text-indent: -1rem;
		}
	}

	@include media-width("tablet-wide") {
	  .container-row {
	    flex-direction: column;
	  }

		.music-video-description {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
