<!-- views/partials/header.ejs -->

    <header class="header sticky-top">
      <div class="container header-container">
        <a class="header-logo" href="/">
          <h1 class="logo">Bradley Biera</h1>
        </a>
        <div class="header-nav-container">
          <a class="header-nav-item header-nav-toggle fa fa-bars" href="javascript:void(0);" onclick="toggleMobileNav(event)"></a>
          <%- include("../../partials/nav.ejs", {
            navClasses: "header-nav",
            navItemClasses: "header-nav-item",
            currentPage: currentPage,
          }) %>
        </div
      </div>
    </header>
