.header {
  background-color: $header-bg-color;
  width: 100%;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 2rem;
  }

  .header-logo {
    display: inline-block;
    color: $header-text-color;
  }

  .header-nav-container {
    display: inline-block;
  }

  .header-nav-item {
    color: $primary-color;
  	display: inline-block;
  	font-weight: bold;
  	font-size: $fs-sm;
  	padding: 0.5rem;
    transition: color 0.4s;

    &:not(.header-nav-toggle):hover,
    &.current {
    	color: $header-text-color;
    }

    &.current:hover {
    	color: $primary-color;
    }
  }

  /* style toggle after .header-nav-item so we can overwrite it */
  .header-nav-toggle {
    display: none;
    font-size: 1.5rem;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  @include media-width("mobile") {
    .header-container {
      padding: 0.5rem 1rem;
    }

    .header-nav-container.responsive {
      & .header-nav-toggle {
        color: gray;
      }

      & .header-nav {
        transform: translateX(0);
      }
    }

    .header-nav-item:not(.header-nav-toggle) {
      display: block;
      font-size: 1.25rem;
      margin: 2rem 0;
    }

    .header-nav-toggle {
      display: inline-block;
    }

    .header-nav {
      position: fixed;
      left: 0;
      z-index: 999;
      display: block;
      text-align: center;
      width: 100%;
      background-color: $header-nav-bg-color;
      overflow-y: scroll;
      transition: transform 0.2s;
      transform: translateX(100%);
    }
  }
}
