.header {
  background-color: $header-bg-color;
  width: 100%;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

  .header-logo {
    display: inline-block;
    color: $header-text-color;
  }

  .header-nav-container {
    display: inline-block;
  }

  .header-nav-item {
    color: $primary-color;
  	display: inline-block;
  	font-weight: bold;
  	font-size: $fs-sm;
  	padding: 0.5rem;
    transition: color 0.4s;

    &:not(.header-nav-toggle):hover,
    &.current {
    	color: $header-text-color;
    }

    &.current:hover {
    	color: $primary-color;
    }
  }

  /* style toggle after .header-nav-item so we can overwrite it */
  .header-nav-toggle {
    display: none;
    font-size: 1.5rem;
  }

  .header-nav {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    text-align: center;
    height: 3rem;

    &::before {
      content: "";
      position: absolute;
      z-index: -1; //move to the background
      left: -4rem;
      top: 0;
      border-left: 4rem solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 3rem solid white;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1; //move to the background
      right: -0.5rem;
      top: 0;
      bottom: 0;
      width: 0.5rem;
      background-color: white;
    }
  }

  @include media-width("mobile") {
    .header-nav-container.responsive {
      & .header-nav-toggle {
        color: gray;
      }

      & .header-nav {
        transform: translateX(0);
        /* opacity: 1; */
      }
    }

    .header-nav-item:not(.header-nav-toggle) {
      display: block;
      font-size: 1.25rem;
      margin: 2rem 0;
    }

    .header-nav-toggle {
      display: inline-block;
    }

    .header-nav {
      position: fixed;
      left: 0;
      display: block;
      align-items: center;
      width: 100%;
      height: unset;
      z-index: 99;
      background-color: $header-nav-bg-color;
      overflow-y: scroll;
      /* opacity: 0; */
      transition: transform 0.2s;
      transform: translateX(100%);
    }
  }
}
