<!-- views/partials/footer.ejs -->

    <footer class="footer">
      <div class="footer-container container">
        <div class="footer-logo">
          <h2 class="logo">Bradley Biera</h2>
        </div>
        <ul class="footer-socials-list">
          <li>
            <a class="social social-facebook" href="https://www.facebook.com/bradley.biera" target="_self" title="Bradley Biera | Facebook">
              <i class="social-icon fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a class="social social-linkedin" href="http://www.linkedin.com/in/bradley-biera-059674135/" target="_self" title="Bradley Biera | LinkedIn">
              <i class="social-icon fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a class="social social-youtube" href="https://www.youtube.com/user/BradleyBieraMusic" target="_self" title="BradleyBieraMusic | YouTube">
              <i class="social-icon fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a class="social social-github" href="https://github.com/bbworks" target="_self" title="Bradley Biera | Github">
              <i class="social-icon fab fa-github"></i>
            </a>
          </li>
        </ul>
        <%- include("../../partials/nav.ejs", {
          navClasses: "footer-nav",
          navItemClasses: "footer-nav-item",
          currentPage: null,
        }) %>
        <div class="footer-copyright">
          <p>©2020 Bradley Biera. All rights reserved.</p>
        </div>
      </div>
    </footer>
