.footer {
	background-color: $footer-bg-color;
	width: 100%;
  padding: 3rem 4rem;

	&,
	& * {
		color: $footer-muted-color;
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.footer-logo * {
		color: $footer-text-color;
	}

	.footer-socials-list {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.75rem;
		margin-top: 2rem;
	}

	.footer-social {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 2rem;
	  height: 2rem;
	  background-color: white;
	  border-radius: 50%;
	  padding: 0.5rem;
	  text-align: center;
	  margin: 0 0.25rem;
		transition: transform 0.25s;

		&:hover {
			transform: translateY(-10%);
		}
	}

	.footer-social-facebook {
	  background-color: #3B5998;
	}

	.footer-social-linkedin {
	  background-color: #007bb5;
	}

	.footer-social-youtube {
	  background-color: #bb0000;
	}

	.footer-social-github {
	  background-color: #000000;
	}

	.footer-social-icon {
		color: white;
	  margin: 0 0.25rem;
		transition: color 0.25s;
	}

	.footer-nav {
		margin-top: 1rem;
	}

	.footer-nav-item {
		color: $footer-text-color;
		font-size: $fs-xs;
		transition: color 0.25s;
	}

	.footer-nav-item:not(:last-child)::after {
		content: "•";
		color: $footer-muted-color;
	  margin: 0 0.5rem
	}

	.footer-social:hover .footer-social-icon,
	.footer-nav-item:hover{
		color: $medium-color;
	}

	.footer-copyright {
	  font-size: $fs-xs;
	  margin-top: 5rem;
	  margin-bottom: 1rem;
	}
}
