<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]>      <html class="no-js" lang="en"> <![endif]-->
<html class="no-js" lang="en">
  <head>
    <%- include("../partials/head.ejs", {
      meta: {
        title: "Bradley Biera | Portfolio",
        cssSheetNames: [
          "portfolio.css",
        ]
      },
    }) %>
  </head>
  <body>
    <%- include("../partials/header.ejs", {
      currentPage: "portfolio",
    }) %>
    <main class="main">
      <h2 class="page-title">Portfolio</h2>
      <div class="content">
        <section class="section">
          <p>Check out some of the various projects I've worked on.
          Click to visit.</p>
        </section>
        <div class="portfolio-hr">
          <p>since 2/16/2020</p>
        </div>
        <section class="section portfolio-section">
					<div class="portfolio-container">
            <img class="portfolio-image" src="/assets/javascript-game.png" />
            <div class="portfolio-shade-container"></div>
            <div class="portfolio-inner-container portfolio-fade-on-hover">
              <h3 class="portfolio-title">8Bit-venture</h3>
              <h5 class="portfolio-type">HTML#CSS#Javascript</h4>
              <p class="portfolio-description">This is a project I'm working to learn Javascript and game dev. This is inspired by Frank Poth's <a href="https://pothonprogramming.github.io/content/rabbit-trap/rabbit-trap.html" target="_blank">Rabbit Trap</a> (code <a href="https://github.com/pothonprogramming/pothonprogramming.github.io/tree/master/content/rabbit-trap" target="_blank">here</a>).</p>
            </div>
            <a class="call-to-action portfolio-call-to-action portfolio-fade-on-hover" href="/javascript-game" target="_blank">
              Open<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </section>
        <div class="portfolio-hr">
          <p><em>circa</em> 11/2013</p>
        </div>
        <section class="section portfolio-section">
					<div class="portfolio-container">
            <img class="portfolio-image" src="/assets/CSCI-U150-Website.png" />
            <div class="portfolio-shade-container"></div>
            <div class="portfolio-inner-container portfolio-fade-on-hover">
              <h3 class="portfolio-title">CSCI-U150 Website</h3>
              <h5 class="portfolio-type">HTML</h4>
              <p class="portfolio-description">This is the first website I ever coded. This was done in University of South Carolina Upstate CSCI-U150 "Introduction To Computer Science".</p>
            </div>
            <a class="call-to-action portfolio-call-to-action portfolio-fade-on-hover" href="/CSCI-U150-Website" target="_blank">
              Open<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </section>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
    <%- include("../partials/script.ejs", {
      scripts: []
    }) %>
  </body>
</html>
